.header-description {
  display: flex;
  flex-direction: column;
  width: 298px;
  justify-content: flex-end;
  margin-left: 97px;
  position: relative;
  align-items: flex-end;
}

.header-description__city {
  font-family: "BebasNeue-Regular", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 111px;
}

.header-description__list {
  list-style: none;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  margin: 0;
  position: absolute;
  top: 300px;
  left: -118px;
}

.header-description__header {
  font-family: "BebasNeue-Bold", "Arial", sans-serif;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  text-align: right;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 57px;
}

.header-description__link {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 4px solid #ffffff;
  min-width: 234px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 93px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .header-description {
    // width: 240px;
    width: 35.5%;
    // margin-left: 85px;
    margin-left: 12.5%;
    position: relative;
  }

  .header-description__city {
    font-size: 34px;
    line-height: 34px;
    padding-top: 72px;
  }

  .header-description__list {
    position: absolute;
    top: 204px;
    // left: -125px;
    left: calc(50% - 242px);
  }

  .header-description__header {
    font-size: 86px;
    line-height: 86px;
    text-align: right;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 6px;
  }

  .header-description__link {
    border: 4px solid #ffffff;
    // min-width: 187px;
    min-width: 77%;
    padding-top: 20px;
    padding-bottom: 19px;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 105px;
  }
}

@media (max-width: $mobile-width) {
  .header-description {
    // min-width: 290px;
    width: 100%;
    max-width: 393px;
    // margin-left: 0;
    margin: 0 auto;
    position: relative;
  }

  .header-description__city {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding-top: 73px;
  }

  .header-description__list {
    position: absolute;
    top: 193px;
    // left: -40px;
    // left: -14%;
    left: calc(50% - 185px);
  }

  .header-description__header {
    font-size: 78px;
    line-height: 78px;
    letter-spacing: 0.03em;
    text-align: right;
    margin: 0;
    padding-bottom: 43px;
    padding-top: 10px;
  }

  .header-description__link {
    border: 4px solid #ffffff;
    width: 100%;
    padding-top: 21px;
    padding-bottom: 19px;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 79px;
  }
}
