.membership {
  background: #f8f9fc;
  color: #102654;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/dumbbells@1x.png");
    background-repeat: no-repeat;
    width: 287px;
    height: 494px;
    bottom: -149px;
    right: 0;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/dumbbells@2x.png");
    }
  }
}

.membership__container {
  display: flex;
  flex-direction: column;
}

.membership h2 {
  font-family: "BebasNeue-Bold", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  padding-bottom: 34px;
}

.membership__tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.membership__controls {
  width: 341px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin-bottom: 39px;
}

.membership__tab-title {
  padding-bottom: 11px;
  margin-bottom: -2px;
  border-bottom: 2px solid transparent;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  cursor: pointer;

  &:focus {
    outline: none;
    color: #102654;
  }
}

.membership__tab-contents {
  width: 100%;
}

.membership__tab-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// .membership__controls > label {
//   display: inline-block;
//   user-select: none;
//   transition: color 0.15s ease-in-out;
//   cursor: pointer;
//   font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 20px;
//   line-height: 150%;
//   color: rgba(16, 38, 84, 0.5);
// }

.membership__tab-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
}

.membership__item {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;
  flex-shrink: 1;
  margin-right: 5px;
  margin-bottom: 20px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-image: url("../img/membership__item-bg@1x.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/membership__item-bg@2x.jpg");
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.membership__item:hover .membership__button {
  background-image: url("../img/membership-button-hover.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
  color: #ffffff;
  min-width: 210px;
}

.membership__item:focus .membership__button:focus {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;
  padding: 0;
  margin: 0;
  margin-bottom: 68px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 2px solid #102654;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 206px;
  max-width: 300px;
}

.membership__header {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  padding: 0;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 11px;
}

.membership__quantity {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
  margin: 0;
  padding-bottom: 63px;
}

.membership__price {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
  color: #103aae;
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
  position: relative;
  z-index: 1;
  padding-right: 45px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 42px;
    top: 25px;
    right: 0;
  }
}

.membership__price > span {
  position: absolute;
  top: -55px;
  left: -12%;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 150%;
  color: rgba(232, 232, 232, 0.48);
  opacity: 0.48;
  z-index: -1;
}

.membership__button {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;
  padding: 0;
  margin: 0;
  margin-bottom: 68px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 2px solid #102654;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 206px;
  max-width: 300px;

  &:focus {
    background-image: url("../img/membership-button-hover.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid transparent;
    color: #ffffff;
    min-width: 210px;
  }
}

@media (max-width: $tablet-width) {
  .membership {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/dumbbells-tablet@1x.png");
      background-repeat: no-repeat;
      width: 347px;
      height: 444px;
      bottom: -125px;
      right: 0;
      z-index: -1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/dumbbells-tablet@2x.png");
      }
    }
  }

  .membership h2 {
    font-size: 42px;
    line-height: 42px;
    padding-top: 99px;
    padding-bottom: 29px;
  }

  .membership__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .membership__controls {
    // width: 332px;
    width: 49%;
    margin-bottom: 45px;
  }

  .membership__tab-title {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .membership__tab-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // .membership input[type="radio"]:checked + label {
  //   font-size: 18px;
  // }

  // .membership__controls > label {
  //   font-size: 18px;
  // }

  .membership__tab-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
  }

  .membership__item {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 442px;
    width: 65.3%;
    margin-bottom: 40px;

    &:hover {
      background-image: url("../img/membership__item-bg@1x.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .membership__item:hover .membership__button {
    background-image: url("../img/membership-button-hover.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid transparent;
    color: #ffffff;
    min-width: 210px;
  }

  .membership__header {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    padding: 0;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 11px;
  }

  .membership__quantity {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding: 0;
    margin: 0;
    padding-bottom: 63px;
  }

  .membership__price {
    font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 150%;
    color: #103aae;
    padding: 0;
    margin: 0;
    padding-bottom: 35px;
    position: relative;
    z-index: 1;
    padding-right: 45px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/ruble.svg");
      background-repeat: no-repeat;
      width: 30px;
      height: 42px;
      top: 25px;
      right: 0;
    }
  }

  .membership__price > span {
    position: absolute;
    top: -55px;
    left: -12%;
    font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 150%;
    color: rgba(232, 232, 232, 0.48);
    opacity: 0.48;
    z-index: -1;
  }

  .membership__button {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 68px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 2px solid #102654;
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 206px;
    max-width: 300px;
  }
}

@media (max-width: $mobile-width) {
  .membership {
    position: relative;

    &::before {
      content: "";
      display: none;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        display: none;
      }
    }
  }

  .membership h2 {
    font-size: 32px;
    line-height: 32px;
    padding-top: 70px;
    padding-bottom: 22px;
  }

  .membership__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .membership__controls {
    max-width: 442px;
    width: 100%;
    margin-bottom: 36px;
  }

  .membership__tab-title {
    padding-bottom: 10px;
    font-size: 16px;
  }

  .membership__tab-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // .membership input[type="radio"] {
  //   display: none;
  // }

  // .membership input[type="radio"]:checked + label {
  //   font-size: 16px;
  // }

  // .membership__controls > label {
  //   font-size: 16px;
  // }

  .membership__tab-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
  }

  .membership__item {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 442px;
    max-width: 442px;
    width: 100%;
    margin-bottom: 36px;

    &:hover {
      background-image: url("../img/membership__item-bg@1x.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .membership__item:hover .membership__button {
    background-image: url("../img/membership-button-hover.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid transparent;
    color: #ffffff;
    min-width: 210px;
  }

  .membership__header {
    font-size: 22px;
    line-height: 110.16%;
    padding-top: 51px;
    padding-bottom: 8px;
  }

  .membership__quantity {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    padding: 0;
    margin: 0;
    padding-bottom: 54px;
  }

  .membership__price {
    font-size: 48px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    padding-right: 31px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/ruble.svg");
      background-repeat: no-repeat;
      width: 24px;
      height: 33px;
      top: 20px;
      right: -4px;
    }
  }

  .membership__price > span {
    position: absolute;
    top: -55px;
    left: -12%;
    font-size: 80px;
    color: rgba(232, 232, 232, 0.48);
    opacity: 0.48;
    z-index: -1;
  }

  .membership__button {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 2px solid #102654;
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 206px;
    max-width: 300px;
  }
}
