.page-header {
  background-color: #003d85;
  background-image: url("../img/header-background@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-background@2x.jpg");
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background-image: url("../img/trainer-main@1x.jpg");
  background-position: top 50px left calc(50% + 130px);
  background-repeat: no-repeat;
  // background-size: 500px, 556px;
  background-size: 500px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/trainer-main@2x.jpg");
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header a {
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo svg {
  width: 87px;
  height: 20px;
}

.page-header__phone {
  margin: 0;
  font-family: "BebasNeue-Regular", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.page-header__social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.page-header__social__item {
  cursor: pointer;
  text-align: right;
  padding-bottom: 15px;

  &--facebook {
    padding-bottom: 15px;
  }

  &--vkontakte {
    padding-bottom: 12px;
  }

  &--facebook svg {
    padding-left: 3px;
  }

  &--vkontakte svg {
    padding-left: 1px;
  }

  &--instagram svg {
    padding-left: 4px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    background-image: url("../img/trainer-main-tablet@1x.jpg");
    background-position: top 82px left calc(50% + 177px);
    background-size: 324px;
    // background-size: 359px; // если подбирать размер от десктопной версии
    // clip-path: inset(5% 20% 15% 10%);
    padding-top: 40px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/trainer-main-tablet@2x.ipg");
    }
  }

  .page-header__logo svg {
    width: 82px;
    height: 17px;
  }

  .page-header__phone {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  .page-header__social__list {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrapper {
    background-image: none;
    padding-top: 20px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none;
    }
  }

  .page-header__logo svg {
    width: 68px;
    height: 15px;
  }

  .page-header__phone {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .page-header__social__list {
    display: none;
  }
}
