.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease; /* 0.6 длительность смены слайда в секундах */
}

.slider__item {
  flex: 0 0 100%; /* определяет количество активных слайдов (в данном случае 1 */
  max-width: 100%; /* определяет количество активных слайдов (в данном случае 1 */
}

/* СТИЛИ ДЛЯ КНОПОК "НАЗАД" И "ВПЕРЁД" */
.slider__control {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 16px;
  height: 32px;
  cursor: pointer;

  // &--show {
  //   display: flex;
  // }

  &:hover,
  &:focus {
    text-decoration: none;
    outline: 0;
    opacity: 0.8; /* прозрачность */
  }

  &--left {
    left: -50px;
  }

  &--right {
    right: -50px;
  }

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 32px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  &--left::before {
    background-image: url("../img/slider-left.svg");
  }

  &--right::before {
    background-image: url("../img/slider-right.svg");
  }
}

.slider__image {
  width: 260px;
  height: 294px;
}
