.social {
  display: flex;
}

.social__list {
  list-style: none;
  display: flex;
  // width: 110px;
  max-width: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social__item {
  padding-right: 25px;

  &:nth-child(3) {
    padding-right: 0;
  }
}

.social__link {
  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .social__list {
    width: 100px;
  }

  .social__item {
    padding-right: 16px;

    &:nth-child(3) {
      padding-right: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    display: flex;
    align-self: flex-start;
  }

  .social__list {
    width: 143px;
  }

  // .social__item {
  //   padding-right: 16px;

  //   &:nth-child(3) {
  //     padding-right: 0;
  //   }
  // }

  .social__link {
    &--vk svg {
      width: 32px;
      height: 17px;
    }

    &--insta svg {
      width: 27px;
      height: 27px;
    }

    &--fb svg {
      width: 14px;
      height: 27px;
    }
  }
}
