.swiper-container {
  width: 560px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 32px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 32px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 32px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.swiper-button-next {
  // right: 288px;
  right: calc(50% - 337px);
  // top: 297px;
  top: 56%;

  &::before {
    background-image: url("../img/slider-right.svg");
  }
}

.swiper-button-prev {
  // left: 288px;
  left: calc(50% - 337px);
  // top: 297px;
  top: 56%;

  &::before {
    background-image: url("../img/slider-left.svg");
  }
}

.swiper-container-trainers {
  // width: 1160px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  .swiper-container-trainers {
    width: 100%;
    max-width: 566px;
    // width: 1160px;
    overflow: hidden;
  }

  .swiper-container {
    width: 100%;
    max-width: 566px;
    // width: 1160px;
    overflow: hidden;
  }

  .swiper-button-next {
    right: calc(50% - 340px);
    top: 55%;
  }

  .swiper-button-prev {
    left: calc(50% - 340px);
    top: 55%;
  }
}

@media (max-width: $mobile-width) {
  .swiper-container-trainers {
    // width: 100%;
    width: 226px;
    max-width: 442px;
    overflow: hidden;
  }

  .swiper-container {
    width: 226px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 10px;
    height: 19px;
  }

  .swiper-button-next {
    right: calc(50% - 147px);
    top: 56%;

    &::before {
      background-size: 10px;
    }
  }

  .swiper-button-prev {
    left: calc(50% - 147px);
    top: 56%;

    &::before {
      background-size: 10px;
    }
  }
}
