.trainers {
  padding-top: 58px;
  padding-bottom: 119px;
  position: relative;
}

.trainers h2 {
  font-family: "BebasNeue-Bold", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0;
  padding: 0;
}

// .trainers__slider {
//   // width: 92.8%;
//   // padding-left: 45px;
//   // padding-right: 45px;
// }

.trainers__item {
  position: relative;
  min-height: 294px;
  width: 260px;
}

.trainers__wrap {
  width: 260px;
  margin-right: 40px;
  min-height: 294px;

  &:hover {
    background: rgba(16, 38, 84, 0.89);
  }
}

.trainers__wrap:hover h3 {
  padding-top: 52px;
  margin-bottom: -4px;
}

.trainers__wrap:hover .trainers__text {
  padding-bottom: 32px;
}

.trainers__wrap:hover .trainers__text,
.trainers__wrap:hover .trainers__experience__list {
  display: block;
  flex-direction: column;
}

.trainers h3 {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding-top: 246px;
}

.trainers__list {
  // width: 1160px; // придумать другое решение
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
}

.trainers__text {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
  text-align: center;
  padding: 0;
  margin: 0;
  display: none;
}

.trainers__experience__list {
  list-style: none;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: none;
  padding-left: 71px;
  padding-right: 15px;
}

.trainers__experience__item {
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 14px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/trainers-list.svg");
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    top: 6px;
    left: -15px;
  }
}

.trainers__image {
  position: absolute;
  width: 260px;
  height: 294px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.trainers__slider__control {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 16px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &--left {
    // left: -12px;
    left: -1%;
    top: 306px;
  }

  &--right {
    // right: -12px;
    right: -1%;
    top: 306px;
  }

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 32px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  &--left::before {
    background-image: url("../img/slider-left.svg");
  }

  &--right::before {
    background-image: url("../img/slider-right.svg");
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    padding-top: 59px;
    padding-bottom: 100px;
  }

  .trainers h2 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .trainers__slider {
    margin: 0 auto;
    // width: 92.8%;
    // padding-left: 45px;
    // padding-right: 45px;
  }

  .trainers__item {
    position: relative;
    min-height: 294px;
    width: 268px;
  }

  .trainers__wrap {
    width: 268px;
    margin-right: 40px;
    min-height: 294px;

    &:hover {
      background: rgba(16, 38, 84, 0.89);
    }
  }

  .trainers__list {
    padding-top: 41px;
  }

  .trainers__image {
    width: 268px;
  }

  .trainers__slider__control {
    &--left {
      // left: -12px;
      left: 44px;
      top: 289px;
    }

    &--right {
      // right: -12px;
      right: 44px;
      top: 289px;
    }
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    padding-top: 40px;
    padding-bottom: 72px;
  }

  .trainers h2 {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }

  .trainers h3 {
    padding-top: 220px;
  }

  .trainers__slider {
    margin: 0 auto;
    // width: 92.8%;
    // padding-left: 45px;
    // padding-right: 45px;
  }

  .trainers__item {
    position: relative;
    min-height: 274px;
    width: 226px;
    margin: 0 auto;
  }

  .trainers__wrap {
    width: 226px;
    // margin: 0 auto;
    // margin-right: 0;
    min-height: 274px;


    &:hover {
      background: rgba(16, 38, 84, 0.89);
    }
  }

  .trainers__list {
    width: 100%;
    padding-top: 41px;
    margin: 0 auto;
  }

  .trainers__image {
    width: 226px;
    height: 274px;
    margin: 0 auto;
  }

  .trainers__wrap:hover h3 {
    padding-top: 43px;
  }

  .trainers__experience__list {
    padding-left: 50px;
  }

  .trainers__slider__control {
    width: 10px;
    height: 19px;

    &::before {
      content: "";
      width: 10px;
      height: 19px;
    }

    &--left {
      // left: -12px;
      left: 13px;
      top: 252px;
    }

    &--right {
      // right: -12px;
      right: 13px;
      top: 252px;
    }
  }
}
