.trainers {
  padding-top: 58px;
}

.trainers h2 {
  font-family: "BebasNeue-Bold", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  margin: 0;
  padding: 0;
}
